@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .site-container {
    @apply container max-w-full mx-auto;
  }

  .nav-link {
    @apply text-white text-sm hover:bg-navhover;
  }

  .nav-btn {
    @apply px-[15px] py-[11px] nav-link flex items-center gap-2 border border-opaque rounded-[50px] hover:bg-[#ffffff1a];
  }

  .auth-btn {
    @apply text-primary text-sm bg-white p-2 cursor-pointer hover:opacity-90 py-2 px-[15px];
  }

  .form-field {
    @apply h-[56px] border-4 border-solid border-yellow bg-yellow;
  }

  .search-element {
    @apply w-full h-full px-8 bg-white rounded-sm hover:shadow-[0_0_0_1px_#d59c00_inset] focus:outline-none  focus:shadow-[0_0_0_1px_#d59c00_inset];
  }

  .square-btn {
    @apply w-[50px] h-[50px] flex items-center justify-center text-lg;
  }

  .primary-btn {
    @apply bg-btnbg text-sm text-white hover:bg-btnhover border-none rounded-sm;
  }

  .carousel-btn {
    @apply py-[10px] px-[15px] primary-btn mt-4;
  }

  .title {
    @apply text-2xl font-bold;
  }

  .subtitle {
    @apply text-base text-[#6b6b6b] mb-2;
  }

  .card {
    @apply relative rounded-lg overflow-hidden;
  }

  .card-img-overlay {
    @apply flex flex-col justify-center absolute top-0 left-0 h-full w-full;
  }

  /* location and blog area grid */

  .grid-card {
    @apply border-none overflow-hidden card rounded-sm relative;
  }

  /* nav tabs */
  .nav-tab-btn {
    @apply text-black py-3 px-4 rounded-[100px] border border-solid border-transparent flex items-center justify-center text-sm gap-2;
  }

  .swiper-button {
    @apply w-9 h-9 flex items-center justify-center bg-white text-black text-xs rounded-full shadow-[0px_2px_8px_0px_#00000029];
  }

  .top-footer-link {
    @apply text-sm text-white no-underline w-full py-2 inline-block;
  }

  .region-name {
    @apply text-sm  text-black block;
  }
  a {
    @apply no-underline inline-block;
  }

  .cta-btn {
    @apply py-2 px-4 text-btnbg rounded-sm text-sm hover:text-btnbg hover:bg-[#f0f7fb];
  }

  .region-property-count {
    @apply text-[13px] text-[#6b6b6b];
  }
}

.container {
  width: 1150px;
}

div[class$="-carousel-wrap"] {
  position: relative;
}

/* swiper defaults */
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-prev {
  left: 0;
  transform: translateX(-50%);
}

.swiper-button-next {
  right: 0;
  transform: translateX(50%);
}

/* header styles */

.bottom-menu li.active .nav-btn {
  border: 1px solid #fff;
  background-color: #ffffff1a;
}

.locations-grid .card {
  border: 1px solid transparent;
}
.offers-carousel .card-img-overlay {
  padding: 16px;
}
.offers-carousel .card-title {
  font-weight: bold;
  margin-bottom: 4px;
}
.locations-grid .card:hover {
  border-color: #febb02;
  overflow: hidden;
}

.locations-grid .grid-card .card-img-overlay {
  background: linear-gradient(
    to bottom,
    rgba(0, 27, 65, 0.65) 0,
    rgba(0, 27, 65, 0) 100%
  );
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  padding: 16px 16px 30px;
}

.locations-grid .grid-card:hover .card-img-overlay {
  background: linear-gradient(
    to bottom,
    rgba(0, 27, 65, 0.85) 0,
    rgba(0, 27, 65, 0) 100%
  );
}

.locations-grid .card-title {
  text-shadow: 1px 1px 1px #000;
  font-size: 24px;
  font-weight: bold;
}

.offers-carousel .card-img {
  height: 185px;
  width: 100%;
}

/* property area */
.property-area .swiper-button-next,
.property-area .swiper-button-prev ,
/* trip type area */
.trip-type-area .swiper-button-prev, 
.trip-type-area .swiper-button-next {
  top: 40%;
}

/* trip type tabs */

li.active .nav-tab-btn {
  background-color: #f0f7fb;
  border-color: #2971c2;
  color: #2971c2;
}

.nav-tab-btn:not(.active):hover {
  background: #f0f0f0;
}
.tab-pane:not(.active) {
  display: none;
}
/* top rated area */
.top-rated-area .property-ratings {
  font-size: 12px;
}

.top-rated-area .swiper-button-next,
.top-rated-area .swiper-button-prev {
  top: 30%;
}

/* blog area */
.blog-area .card-img-overlay {
  height: max-content;
  padding: 10px 10px 15px;
  top: unset;
  background: linear-gradient(-180deg, rgba(0, 0, 0, 0) 12%, #000 97%);
}

.blog-area .card:hover img {
  transform: scale(1.3);
}

.blog-area .card img {
  transition: transform 0.3s ease-in-out;
}

/* cta section */

/* locations */

/* newsletter */
.newsletter .form-group {
  gap: 10px 5px;
}

.newsletter .form-control,
.newsletter button {
  border-radius: 3px;
  height: 50px;
  font-size: 20px;
}

/* footer */

.main-footer-btn a:hover,
.main-footer-link a:hover {
  color: #bc5b01;
}

.main-footer-link a {
  font-size: 13px;
}

.bottom-footer .subsidiaries-list-item {
  padding: 0 20px;
}

@media (max-width: 768px) {
  .cta .card > img {
    min-height: 360px;
  }

  .newsletter .form-control {
    text-align: center;
  }

  .swiper-button {
    display: none;
  }
}

@media (max-width: 576px) {
  .ratio::before {
    padding-top: 56.25%;
  }

  .ratio img {
    object-fit: cover;
  }
  .hero-area h1 {
    font-size: 30px;
  }

  .hero-area p {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .cta .card > img {
    height: 210px;
    object-fit: contain;
    object-position: right;
  }

  .cta-content {
    max-width: 50%;
  }

  .newsletter .form-group {
    max-width: 75%;
    margin: 0 auto;
  }

  /* .locations-grid .location:first-child,
  .locations-grid .location:nth-child(2) {
    flex: 0 0 calc(50% - 7.5px);
  }

  .locations-grid .location {
    flex: 0 0 calc(33.333% - 10px);
  } */
}

@media (min-width: 991px) {
  .newsletter .form-group {
    max-width: 50%;
  }
}
